* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b2551;
    padding: 10px 20px;
    width: 100%;
    max-width: 1200px;
}

.encabezado img {
    height: 50px;
}

.encabezado-centro h1 {
    font-size: 3.5vw;
}

/*---------------------------------------------------------------------------------------------------*/
/* Estilos del menú
/*---------------------------------------------------------------------------------------------------*/

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

nav {
    position: relative;
}


#menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    margin: 0 10px;
}

#menu li a {
    color: #0b2551;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

#menu li a:hover {
    background-color: #90a8d3;
    animation: 0.5s infinite boton-menu;
    border-radius: 4px;
}

@keyframes boton-menu {
   0% { transform: scaleX(1.0);}
   50% { transform: scaleX(1.15);}
   100% { transform: scaleX(1.0);}   
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: grid;
    gap: 15px;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.radio-group,
.checkbox-group {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0b2551;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0b2551;
    color: white;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.footer-icons a:hover {
    color: #ccc;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }
}   